//* HEADER
header {
    position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	padding: 0 15vw;
	background-color: $p2-dark;
    z-index: 100;
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        .intestazioneNav {
            width: 5vw;
            margin: 0;
            padding: 0;
            img {
                width: 100%;
                height: auto;
                max-height: 70px;
                max-width: auto;
            }
            a {
                display: block;
                width: 100%;
                padding: .5vw;
            }
        }
        ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
                display: inline-block;
				margin: .5rem;
				a, a:visited, a:hover, a:focus {
					display: block;
					padding: 1vh 1rem;
                    text-decoration: none;
                    color: #FFFFFF;
				}
                a {
                    position: relative;
                    padding-bottom: 1vh;
                    transition: color .35s ease; 
                }
                a::before { // comparsa linea sotto il link
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: .33rem;
                height: .3vh;
                width: 0;
                transition: width 0s ease, background .35s ease;
                }
                a::after { // uscita linea sotto il link
                    content: "";
                    display: block;
                    background: white;
                    position: absolute;
                    right: 0;
                    bottom: .33rem;
                    height: .3vh;
                    width: 0;
                    transition: width .35s ease;
                }
                a:hover::before { // impostazione entrata linea
                    width: 100%;
                    background: white;
                    transition: width .35s ease;
                }
                a:hover::after { // impostazione uscita linea
                    width: 100%;
                    background: transparent;
                    transition: all 0s ease;
                }
                a.attivo::after { // LINK ATTIVO
                    content: "";
                    display: block;
                    background: white;
                    position: absolute;
                    right: 0;
                    bottom: .33rem;
                    height: .3vh;
                    width: 100%;
                }
			}
		}
        #hamburger {
            display: none; //! NASCONDI PER DESKTOP
            position: absolute;
            right: 4vw;
            top: 0;
            padding: 0;
            width: 100%;
            max-width: 6rem;
            height: 100%;
            max-height: 4rem;
            & span {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: space-between;
            } 
            img {
                display: block;
                width: 40%;
                height: 100%;
                border: 2px solid transparent;
                border-radius: 50%;
                transition: transform .3s linear, width .2s;
            }
        }
        #hamburger.toggle {
            span {
                & img:first-child {
                    transform: rotate(45deg) translate(6.5px, 4.4px);
                }
                & img:nth-child(2) {
                    width: 0;
                }
                & img:last-child {
                    transform: rotate(-45deg) translate(6.5px, -4.4px);
                }
            }
        }
    }
}